.projects-container {
  max-width: 100%;
  margin-top: 30vh;
  padding: 0 20px;
  box-sizing: border-box;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  max-height: 600px;
}

.swiper-slide img {
  width: 200px; /* Set fixed width */
  height: 200px; /* Set fixed height */
  display: block;
  width: 100%;
}

.project-details {
  width: 100%;
  text-align: center;
  display: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px;
  border-radius: 5px;
}

.swiper-slide-active .project-details {
  display: block;
}

.skills {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.skill-btn {
  margin: 5px;
  padding: 5px 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.skill-btn.skill-0 {
  border-color: #007bff;
  color: #007bff;
}

.skill-btn.skill-1 {
  border-color: #28a745;
  color: #28a745;
}

.skill-btn.skill-2 {
  border-color: #dc3545;
  color: #dc3545;
}

.skill-btn.skill-3 {
  border-color: #ffc107;
  color: #ffc107;
}

.github-button {
  color: #fff;
}
